<%= card.escape('title') %>
<p data-card-id="<%= card.escape('id') %>" data-ord="<%= card.escape('ord') %>" data-list-id="<%= card.escape('list_id') %>">
  <%= card.escape('description') %>
</p>

<div class='delete-card'>
  &times
</div>
