<h3><%= list.escape('title') %></h3>
data-id: <%= list.escape('id') %>
ord: <%= ord %>
<button class="delete-list">&times</button>
<ul class='cards-container' data-list-id="<%= list.escape('id') %>" data-ord="<%= list.escape('ord') %>">

</ul>
